* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

nav {
    box-shadow: 1px 1px 6px black;
}

nav ul li a {
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li a:hover {
    background-color: rgb(211, 211, 211);
}
/** Drop Menu */
#ul-drop-menu {
    background-color: #f7f7f7;
    border: none;
    text-align: center;
}

/* Banner */
.banner-app {
    padding-top: 70px;
    padding-bottom: 100px;
    text-align: center;
}

/* Informações */
.info-app {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: rgb(39, 114, 89);
}
.info-app-card {
    background-color: white;
    box-shadow: 1px 1px 5px black;
    border-left: 6px solid orange;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info-app-card:hover {
    transition: .5s;
    background-color: rgb(197, 197, 197);
}
.info-app-title {
    padding-top: 30px;
}
.info-app-p {
    padding: 10px;
    text-align: justify;
}

/* Tips */
.tip-app {
    padding-top: 70px;
    padding-bottom: 50px;
}
.tip-app-p {
    text-align: justify;
}

/***** DASHBOARD **********/
.banner-dashboard {
    padding-top: 10px;
}

.dashboard-div {
    background-color: rgb(49, 49, 49);
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 10px;
}
.dashboard-title {
    padding: 5px 5px;
    font-size: 18pt;
    color: white;
}

.aside-dashboard {
    padding-bottom: 90px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: rgb(39, 114, 89);
}

/* Dashboard Análise */
.card-expenses-green {
    background-color: rgb(39, 114, 89);
    color: white; 
    font-size: 14pt;
    padding: 3px;
    border-radius: 3px;
}
.card-expenses-orange {
    background-color: orange;
    color: white; 
    font-size: 14pt;
    padding: 3px;
    border-radius: 3px;
}
.card-expenses-red {
    background-color: rgb(241, 63, 32);
    color: white; 
    font-size: 14pt;
    padding: 3px;
    border-radius: 3px;
}
.card-expenses-p {
    text-align: center;
    margin: 10px;
    font-size: 16pt;
}

/** Graphic */




/* List Expenses */
.expense-title {
    background-color: rgb(39, 114, 89);
    color: white; 
    font-size: 18px;
    padding: 3px;
    border-radius: 3px;
}
.expense-info {
    list-style: none;
    margin-left: -15px;
    font-size: 14px;
}
.expense-info-div:hover {
    background-color: rgb(39, 114, 89);
}
.img-empty {
    width: 30%;
}  

/** Edit Dashboard **/
.edit-dashboard {
    margin-top: 10px;
    padding-bottom: 40px;

}

/* Footer */
.footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Sem resultados */
.nothing {
    text-align: center;
    font-size: 20pt;
}

/** Media **/

@media only screen and (max-width: 992px) {
    .aside-dashboard {
        height: 150px;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }
    nav {
        text-align: center;
    }
    .dashboard-title {
        font-size: 14pt;
    }     
    .img-empty {
        width: 30%;
    }    
}

@media only screen and (max-width: 600px) {
    .aside-dashboard {
        height: 130px;
        padding-bottom: 5px;
    }
    nav {
        text-align: center;
    }
    .dashboard-title {
        font-size: 14pt;
    }
    .img-empty {
        width: 30%;
    }    
}